RewriteEngine On

#### Module AdminModel

# Home
rewriteRule ^$ ?controller=home&action=index [QSA,L]
rewriteRule ^home$ ?controller=home&action=index
rewriteRule ^home/ds-nhanvien$ ?controller=home&action=listEmployee
rewriteRule ^home/ds-taikhoan$ ?controller=home&action=listAccount

# Employee
rewriteRule ^nhan-vien$ ?controller=employee&action=index
rewriteRule ^nhan-vien/them-moi$ ?controller=employee&action=create
rewriteRule ^nhan-vien/xem/([0-9]+)$ ?controller=employee&action=detail&id=$1
rewriteRule ^nhan-vien/([0-9]+)$ ?controller=employee&action=edit&id=$1
rewriteRule ^nhan-vien/xoa/([0-9]+)$ ?controller=employee&action=delete&id=$1


#Department
rewriteRule ^nhan-vien/phong-ban$ ?controller=employee&action=department [QSA,L]
rewriteRule ^nhan-vien/phong-ban/([0-9]+)$ ?controller=employee&action=editDepartment&id=$1
rewriteRule ^nhan-vien/xoa-phong-ban/([0-9]+)$ ?controller=employee&action=deleteDepartment&id=$1

#Education
rewriteRule ^nhan-vien/trinh-do$ ?controller=employee&action=education [QSA,L]
rewriteRule ^nhan-vien/trinh-do/([0-9]+)$ ?controller=employee&action=editEducation&id=$1
rewriteRule ^nhan-vien/xoa-trinh-do/([0-9]+)$ ?controller=employee&action=deleteEducation&id=$1

#Postion
rewriteRule ^nhan-vien/chuc-vu$ ?controller=employee&action=position [QSA,L]
rewriteRule ^nhan-vien/chuc-vu/([0-9]+)$ ?controller=employee&action=editPosition&id=$1
rewriteRule ^nhan-vien/xoa-chuc-vu/([0-9]+)$ ?controller=employee&action=deletePosition&id=$1

#Technique
rewriteRule ^nhan-vien/chuyen-mon$ ?controller=employee&action=technique [QSA,L]
rewriteRule ^nhan-vien/chuyen-mon/([0-9]+)$ ?controller=employee&action=editTechnique&id=$1
rewriteRule ^nhan-vien/xoa-chuyen-mon/([0-9]+)$ ?controller=employee&action=deleteTechnique&id=$1

#Degree
rewriteRule ^nhan-vien/bang-cap$ ?controller=employee&action=degree [QSA,L]
rewriteRule ^nhan-vien/bang-cap/([0-9]+)$ ?controller=employee&action=editDegree&id=$1
rewriteRule ^nhan-vien/xoa-bang-cap/([0-9]+)$ ?controller=employee&action=deleteDegree&id=$1

#Type
rewriteRule ^nhan-vien/loai$ ?controller=employee&action=type [QSA,L]
rewriteRule ^nhan-vien/loai/([0-9]+)$ ?controller=employee&action=editType&id=$1
rewriteRule ^nhan-vien/xoa-loai/([0-9]+)$ ?controller=employee&action=deleteType&id=$1

#Type
rewriteRule ^luong/bang-luong$ ?controller=salary&action=index [QSA,L]
rewriteRule ^luong/tinh-luong$ ?controller=salary&action=calculate
rewriteRule ^luong/([0-9]+)$ ?controller=salary&action=detail&id=$1
rewriteRule ^luong/tinh-phu-cap$ ?controller=salary&action=calculateAllowance
rewriteRule ^bang-luong/([0-9]+)$ ?controller=salary&action=detail&id=$1

#Bussiness
rewriteRule ^cong-tac$ ?controller=bussiness&action=index [QSA,L]
rewriteRule ^cong-tac/([0-9]+)$ ?controller=bussiness&action=edit&id=$1
rewriteRule ^tao-cong-tac$ ?controller=bussiness&action=create
rewriteRule ^cong-tac/xoa-cong-tac/([0-9]+)$ ?controller=bussiness&action=delete&id=$1

#Team
rewriteRule ^nhom$ ?controller=team&action=index [QSA,L]
rewriteRule ^tao-nhom$ ?controller=team&action=create
rewriteRule ^nhom/chi-tiet-nhom/([0-9]+)$ ?controller=team&action=detail&id=$1
rewriteRule ^nhom/chi-tiet-nhom/([0-9]+)/sua$ ?controller=team&action=detail&id=$1&isEdit=true
rewriteRule ^nhom/chi-tiet-nhom/([0-9]+)/them-nhan-vien$ ?controller=team&action=detail&id=$1&isAddEmployee=true
rewriteRule ^nhom/chi-tiet-nhom/xoa-nhan-vien/([0-9]+)/([0-9]+)$ ?controller=team&action=deleteEmployee&id=$1&teamId=$2
rewriteRule ^nhom/chinh-sua-nhom/([0-9]+)$ ?controller=team&action=edit&id=$1
rewriteRule ^nhom/xoa-nhom/([0-9]+)$ ?controller=team&action=delete&id=$1

#Reward
rewriteRule ^khen-thuong$ ?controller=reward&action=index [QSA,L]
rewriteRule ^khen-thuong/([0-9]+)$ ?controller=reward&action=edit&id=$1
rewriteRule ^khen-thuong/xoa/([0-9]+)$ ?controller=reward&action=delete&id=$1
rewriteRule ^khen-thuong/loai-khen-thuong$ ?controller=reward&action=type
rewriteRule ^khen-thuong/them-khen-thuong$ ?controller=reward&action=create
rewriteRule ^khen-thuong/sua-loai/([0-9]+)$ ?controller=reward&action=editType&id=$1
rewriteRule ^khen-thuong/xoa-loai/([0-9]+)$ ?controller=reward&action=deleteType&id=$1

#Discipline
rewriteRule ^ky-luat$ ?controller=discipline&action=index [QSA,L]
rewriteRule ^ky-luat/([0-9]+)$ ?controller=discipline&action=edit&id=$1
rewriteRule ^ky-luat/xoa/([0-9]+)$ ?controller=discipline&action=delete&id=$1
rewriteRule ^ky-luat/loai-ky-luat$ ?controller=discipline&action=type
rewriteRule ^ky-luat/them-ky-luat$ ?controller=discipline&action=create
rewriteRule ^ky-luat/sua-loai/([0-9]+)$ ?controller=discipline&action=editType&id=$1
rewriteRule ^ky-luat/xoa-loai/([0-9]+)$ ?controller=discipline&action=deleteType&id=$1

#Acocunt
rewriteRule ^tai-khoan$ ?controller=account&action=index
rewriteRule ^tai-khoan/thong-tin$ ?controller=account&action=detail
rewriteRule ^tai-khoan/tao-tai-khoan$ ?controller=account&action=create
rewriteRule ^tai-khoan/xoa/([0-9]+)$ ?controller=account&action=delete&id=$1
rewriteRule ^tai-khoan/sua/([0-9]+)$ ?controller=account&action=edit&id=$1
rewriteRule ^tai-khoan/doi-mat-khau$ ?controller=account&action=changePass

# Login
rewriteRule ^login$ ?controller=auth&action=login
# Logout
rewriteRule ^logout$ ?controller=auth&action=logout

## Create admin
#rewriteRule ^management/create$ ?controller=admin&action=create
#
## Edit admin
#rewriteRule ^management/edit/([0-9]+)$ ?controller=admin&action=edit&id=$1
#
#
## Delete admin
#rewriteRule ^management/delete/([0-9]+)$ ?controller=admin&action=delete&id=$1
#
## Search user
#rewriteRule ^management/search-user/([0-9]+)$ ?controller=admin&action=searchUser&page_id=$1
#rewriteRule ^management/search-user$ index.php?controller=admin&action=searchUser [QSA,L]
#
## Create user
#rewriteRule ^management/create-user$ ?controller=admin&action=createUser
#
## Edit user
#rewriteRule ^management/edit-user/([0-9]+)$ ?controller=admin&action=editUser&id=$1
#
## Delete user
#rewriteRule ^management/delete-user/([0-9]+)$ ?controller=admin&action=deleteUser&id=$1
#
#

#
#
##### Module UserModel
#rewriteRule  ^login$ ?controller=user&action=login
#rewriteRule  ^logout$ ?controller=user&action=logout
#rewriteRule  ^profile$ ?controller=user&action=profile
