RewriteEngine On

#### Module AdminModel

# Home
rewriteRule ^$ ?controller=home&action=index [QSA,L]
rewriteRule ^home$ ?controller=home&action=index
rewriteRule ^home/ds-nhanvien$ ?controller=home&action=listEmployee
rewriteRule ^home/ds-taikhoan$ ?controller=home&action=listAccount

# Employee
rewriteRule ^nhan-vien$ ?controller=employee&action=index


#Department
rewriteRule ^nhan-vien/phong-ban$ ?controller=employee&action=department [QSA,L]
rewriteRule ^nhan-vien/phong-ban/([0-9]+)$ ?controller=employee&action=editDepartment&id=$1
rewriteRule ^nhan-vien/xoa-phong-ban/([0-9]+)$ ?controller=employee&action=deleteDepartment&id=$1

#Education
rewriteRule ^nhan-vien/trinh-do$ ?controller=employee&action=education [QSA,L]
rewriteRule ^nhan-vien/trinh-do/([0-9]+)$ ?controller=employee&action=editEducation&id=$1
rewriteRule ^nhan-vien/xoa-trinh-do/([0-9]+)$ ?controller=employee&action=deleteEducation&id=$1

# Login
rewriteRule ^login$ ?controller=account&action=login

# Logout
rewriteRule ^logout$ ?controller=account&action=logout

## Create admin
#rewriteRule ^management/create$ ?controller=admin&action=create
#
## Edit admin
#rewriteRule ^management/edit/([0-9]+)$ ?controller=admin&action=edit&id=$1
#
#
## Delete admin
#rewriteRule ^management/delete/([0-9]+)$ ?controller=admin&action=delete&id=$1
#
## Search user
#rewriteRule ^management/search-user/([0-9]+)$ ?controller=admin&action=searchUser&page_id=$1
#rewriteRule ^management/search-user$ index.php?controller=admin&action=searchUser [QSA,L]
#
## Create user
#rewriteRule ^management/create-user$ ?controller=admin&action=createUser
#
## Edit user
#rewriteRule ^management/edit-user/([0-9]+)$ ?controller=admin&action=editUser&id=$1
#
## Delete user
#rewriteRule ^management/delete-user/([0-9]+)$ ?controller=admin&action=deleteUser&id=$1
#
#

#
#
##### Module UserModel
#rewriteRule  ^login$ ?controller=user&action=login
#rewriteRule  ^logout$ ?controller=user&action=logout
#rewriteRule  ^profile$ ?controller=user&action=profile
