/*ADD ADMIN*/

#show_list_file img {
    width: 100px;
}

#main-menu {
    margin-left: 400px;
}

#btn-submit {
    margin-left: 222px;
    margin-top: 50px !important;
}

#detail-add-admin .section-detail label {
    display: block;
    padding-bottom: 10px;
    font-family: 'Roboto Medium';
    font-weight: normal;
}

#detail-add-admin .section-detail label.role  {
    display: inline;
}

#detail-add-admin .section-detail label.status  {
    display: inline;
}


#detail-add-admin .section-detail input[type="text"],
#detail-add-admin .section-detail input[type="tel"],
#detail-add-admin .section-detail input[type="email"],
#detail-add-admin .section-detail input[type="select"],
#detail-add-admin .section-detail input[type="password"] {
    display: block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 35%;
    margin-bottom: 15px;
}

#detail-add-admin .section-detail textarea {
    display: block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 50%;
    height: 150px;
    margin-bottom: 25px;
}

#detail-add-admin .section-detail select {
    display: block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin-bottom: 25px;
}

#detail-add-admin .section-detail button {
    display: inline-block;
    border: none;
    outline: none;
    background: #4fa327;
    color: #fff;
    padding: 8px 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}

#detail-add-admin .section-detail button:hover {
    background: #3a7d19;
}

.role label {
    display: inline;
}

.status label {
    display: inline;
}